{
    http_port 8880
    auto_https off
}

:8880 {
    root * /home/bio/manage/appnet/landing

    handle_path /courses/* {
        root * /home/bio/manage/appnet/apps/courses
        file_server
    }
    redir /courses /courses/ 308

    handle /demo1/api/* {
        uri strip_prefix /demo1/api
        reverse_proxy localhost:28881
    }

    handle_path /demo1/* {
        reverse_proxy localhost:28883
    }
    redir /demo1 /demo1/ 308

    handle_path /demo2/* {
        reverse_proxy localhost:28882
    }
    redir /demo2 /demo2/ 308

    handle /otk/* {
        reverse_proxy localhost:28884
    }

    redir /shiny http://biotree.top:38124/
    redir /shiny/* http://biotree.top:38124/

    @landing path /
    handle @landing {
        file_server
    }

    @static {
        path *.jpeg *.jpg *.png *.gif *.svg *.css *.js *.ico
        file
    }
    handle @static {
        file_server
    }

    log {
        output file logs/access.log
        format json
    }
}